*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

html, body{
    height:100%;
    width:100%;
}

body{
    background-color:black;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:200px;
}
button{
    height:60px;
    width:200px;
    border-radius:5px;
    border:5px solid rgba(125, 56, 182, 0.457);
    font-size:30px;
}